<div class="news__feed__entries__article">
  <div class="news__feed__entries__article__banner">
    {% set image = page.media.images | first %}
    {% if image %}
      <a href="{{ page.url }}">
        <img src="{{ image.url }}" class="news__feed__entries__article__banner__img" alt="">
      </a>
    {% endif %}
  </div>
  <div class="news__feed__entries__article__text">
    <h3 class="news__feed__entries__article__text__title">{{ page.title }}</h3>
    <p class="news__feed__entries__article__text__date">
      <strong>
        <time class="date" datetime="{{ page.date|date(" c") }}"="c" )=")" }}""="}}" "">
          <span>{{ page.date|date("d") }}</span>
          <em>{{ page.date|date("M") }}</em>
          <em>{{ page.date|date("Y") }}</em>
        </time>
      </strong>
    </p>
    <p class="news__feed__entries__article__text__blurb">

      {{ page.content }}</p>
    <a href="{{ page.url }}" class="news__feed__entries__article__text__button">
      <div class="news__feed__entries__article__text__button__text">
        <span>Read More</span>
      </div>
    </a>
  </div>
</div>
