{% set logo = theme_var(mobile ? 'custom_logo_mobile' : 'custom_logo') %}
<a href="{{ home_url }}" class="header__wrapper__logo">
{% if logo %}
  {% set logo_file = (logo|first).name %}
  <img src="{{ url('theme://images/logo/' ~ logo_file)  }}" alt="{{ site.name }}" />
{% else %}
  <img src="{{ url('theme://images/grav-logo.svg')  }}" alt="{{ site.name }}" />
{% endif %}
</a>
